@model PMStest.Models.Project

@{
    ViewBag.Title = "Delete";
}

<h2>ลบโครงการ</h2>

<h3>กรุณาตรวจสอบรายละเอียดโครงการก่อนยืนยัน?</h3>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ยืนยันการลบ" class="btn btn-danger" /> |
            @Html.ActionLink("ย้อนกลับ", "Index")
        </div>
    }
</div>
